<h1 class="heading" >{{title}}</h1>

<img src="/images/pivot.gif">

<h2 class="subtitle" >Feeling lonely?</h2>
<h2 class="subtitle" >Take our quiz and find some friends</h2>

<a href="/startquiz"><input class="submit-btn" type="button" name="start" value="Find Friends" /></a>

