<h1>{{title}}</h1>

<h2>Answer some questions</h2>

<div id="q1"></div>


<form class="new_friend" id="new_friend" action="/search-results" accept-charset="UTF-8" method="post">

  <p>
    <input class="name_input" placeholder="Enter your name" type="text" name="name" id="user_name" size="60" /><br><br>
  </p>

  <p>
    Do you like cats or dogs?
  </p>

  <select name="q1" class="question">
    <option value="Cats">Cats</option>
    <option value="Dogs">Dogs</option>
  </select>

  <p>
    Summer or winter?
  </p>

  <select name="q2" class="question">
    <option value="Summer">Summer</option>
    <option value="Winter">Winter</option>
  </select>

  <p>
    Mac or PC?
  </p>

  <select name="q3" class="question">
    <option value="Mac">Mac</option>
    <option value="PC">PC</option>
  </select>

  <p></p>


    <input class="submit-btn" type="submit" name="commit" value="Find Friends" />
  <p class="nevermind">
    <a class="exit-btn" href="">Nevermind</a>
  </p>



</form>
