{{#each data}}
  <h3>{{this.name}} likes {{this.q1}}, {{this.q2}} and {{this.q3}}</h3>
{{/each}}

<h1 class="heading" >Wow!</h1>

<h2 class="subtitle" >You have got so many likely friends, there are too many to show!</h2>
<h2 class="subtitle" >They'll all be waiting for you at The Third Eye after class.</h2>
