<h1 class="heading">Cool <strong>{{this.name}}</strong> you like</h1>
<h3 class="result">{{this.q1}}</h3>
<h3 class="result">{{this.q2}}</h3>
<h3 class="result">{{this.q3}}</h3>
<hr>

<h2 class="subtitle" >These people like same things as well</h2>

<h2 class="subtitle" >Add them as a friend and get to know them a bit better</h2>
